{
    "version": 1.0,
    "project": "XYZ-${repo}-${branch}",
    "team": "/CxServer/DowJones/cxflow/newscorp-ghfb",
    "sast": {
      "preset": "Checkmarx Default",
      "engineConfiguration": "",
      "incremental": "false",
      "forceScan": "true",
      "fileExcludes": "",
      "folderExcludes": ""
    },
    "additionalProperties": {
      "cxFlow": {
        "application": "test app",
        "branches": ["main", "master"],
        "emails": ["productsecurity@dowjones.com"],
        "bugTracker": "JIRA",
        "jira": {
          "project": "DBG",
          "issue_type": "Vulnerability",
          "Assignee": "cozziv",
          "opened_status": ["OPEN","REOPENED","IN PROGRESS","RESOLVED","VALIDATION COMPLETE","IN VALIDATION"],
          "closed_status": ["CLOSED"],
          "open_transition": "Reopen Issue",
          "close_transition": "Close Issue",
          "priorities": {
            "High": "High",
            "Medium": "High",
            "Low": "High"
          }
        },
        "filters": {
          "severity": ["High"]
        }
      }
    }
  }
